body {
  background-color: #f4f1ec;
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 12px 12px 2px 1px #ede7dc;
  border-radius: 15px;
}

h1 {
  color: #00000099;
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}
a {
  text-decoration: none;
  color: #00000099;
}

a:active,
a:visted {
  text-decoration: none;
  color: #00000099;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  color: #00000099;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #00000099;
}

.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
  color: #00000099;
}

footer {
  text-align: center;
  font-size: 18px;
  color: #00000099;
}
